<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <a [routerLink]="['']" class="flex items-center">
      <img src="/assets/images/koparka.svg" class="h-6 mr-3 sm:h-9" alt="" />
      <span class="self-center text-xl font-semibold whitespace-nowrap">Sprzęt budowlany</span>
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <button pButton class="p-button-secondary p-button-text" label="Koszyk" [routerLink]="['/koszyk']"
      routerLinkActive="p-menuitem-link-active"></button>
    <p-button *ngIf="!isAuth()" styleClass="p-button-secondary p-button-text" label="Zaloguj"
      [routerLink]="['/zaloguj']"></p-button>
    <p-button *ngIf="!isAuth()" styleClass="p-button-secondary p-button-text" label="Zarejestruj"
      [routerLink]="['/zarejestruj']"></p-button>
    <p-button *ngIf="isAuth() && userData" styleClass="p-button-secondary p-button-text" (click)="menu.toggle($event)"
      iconPos="right" [icon]="expanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down'" [label]="userData.name">
    </p-button>
    <p-menu #menu [model]="userItems" styleClass="mt-5" [popup]="true"></p-menu>
  </ng-template>
</p-menubar>
