<div class="container mx-auto mt-5">
  <p-card header="Sprzęt">
    <p-table #dt1 [value]="equipment.data" [lazy]="true" (onLazyLoad)="loadEquipment($event)" [paginator]="true"
      [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" styleClass="p-datatable-sm"
      currentPageReportTemplate="pokazano {first} - {last} z {totalRecords}" [totalRecords]="equipment.total"
      [loading]="loading" [globalFilterFields]="['name', 'category.name', 'price', 'description']">
      <ng-template pTemplate="caption">
        <div class="flex justify-between">
          <p-button *ngIf="admin" (click)="showDialog()" label="Dodaj sprzęt" styleClass="p-button-success"
            icon="pi pi-plus"></p-button>

          <span class="p-input-icon-left ml-auto relative">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Szukaj" #globalFilter />
            <i *ngIf="globalFilter.value != ''" class="pi pi-times absolute right-3 cursor-pointer text-[#71717A]"
              (click)="clearGlobalFilter()"></i>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">
            <div class="flex gap-1"># <p-sortIcon field="id"></p-sortIcon></div>
          </th>
          <th pSortableColumn="name">
            <div class="flex gap-1">Nazwa <p-sortIcon field="name"></p-sortIcon></div>
          </th>
          <th pSortableColumn="category.name">
            <div class="flex gap-1">Kategoria <p-sortIcon field="category.name"></p-sortIcon></div>
          </th>
          <th pSortableColumn="price">
            <div class="flex gap-1">Cena <p-sortIcon field="price"></p-sortIcon></div>
          </th>
          <th pSortableColumn="description">
            <div class="flex gap-1">Opis <p-sortIcon field="description"></p-sortIcon></div>
          </th>
          <th pSortableColumn="available_items_count">
            <div class="flex gap-1">Ilość przedmiotów <p-sortIcon field="available_items_count"></p-sortIcon></div>
          </th>
          <th *ngIf="admin"><span>Opcje</span></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-equip>
        <tr>
          <td>{{equip.id}}</td>
          <td>{{equip.name}}</td>
          <td>{{equip.category_name}}</td>
          <td>{{equip.price | currency}}</td>
          <td>{{equip.description}}</td>
          <td>{{equip.available_items_count }} / {{ equip.items_count }}</td>
          <td *ngIf="admin" class="p-buttonset whitespace-nowrap">
            <button pButton pRipple icon="pi pi-trash" (click)="deleteEquipment(equip)"
              class="p-button-danger p-button-sm"></button>
            <button pButton pRipple icon="pi pi-pencil" (click)="showDialog(equip)"
              class="p-button-info p-button-sm"></button>
            <button pButton pRipple icon="pi pi-info-circle" [routerLink]="[equip.id]"
              class="p-button-warning p-button-sm"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
