<div [ngSwitch]="rentDetail.equipment.length" class="container mx-auto mt-5"
  [@switchTrigger]="rentDetail.equipment.length">
  <div *ngSwitchCase="0" class="card">
    <div class="flex flex-col items-center p-6 mx-auto bg-white border border-gray-200 rounded-lg shadow">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-gray-900">Koszyk jest pusty</h5>
      <p-button label="Przejdź do oferty" [routerLink]="['/oferta']"></p-button>
    </div>
  </div>

  <div *ngSwitchDefault="" class="card">
    <p-card header="Koszyk">
      <div class="flex flex-col gap-2 lg:flex-row">
        <div class="w-full mb-4 lg:w-3/4 lg:mb-0">
          <div *ngFor="let equip of rentDetail.equipment">
            <div class="flex flex-row border-y py-6 mt-[-1px]">
              <div [ngSwitch]="!equip.img_url" class="w-32">
                <img *ngSwitchCase="false" [src]="equip.img_url" alt="sprzęt" class="w-32 h-12">
                <img *ngSwitchCase="true" src="/assets/images/empty.svg" alt="sprzęt" class="w-32 h-12">
              </div>
              <div class="grow">
                {{equip.name}}
              </div>
              <div class="w-40">
                <div class="inline-flex h-12 rounded-md shadow-sm" role="group">
                  <button type="button" (click)="decreaseEquipment(equip)"
                    class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
                    <i class="pi pi-minus"></i>
                  </button>
                  <button type="button" [disabled]="true"
                    class="w-12 px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200">
                    {{equip.quantity}}
                  </button>
                  <button type="button" (click)="increaseEquipment(equip)"
                    class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
                    <i class="pi pi-plus"></i>
                  </button>
                </div>
              </div>
              <div class="flex w-32">
                <div class="my-auto">{{ equip.price | currency }}</div>
              </div>
              <div class="w-12">
                <p-button icon="pi pi-trash" (click)="removeFromCart(equip)" styleClass="p-button-danger"></p-button>
              </div>
            </div>
          </div>

          <div class="flex justify-around mt-4">
            <p-button label="Wyczyść koszyk" (click)="clearEquipment()" styleClass="p-button-danger"></p-button>
            <p-button label="Przejdź do oferty" [routerLink]="['/oferta']"></p-button>
          </div>
        </div>

        <div class="flex w-full lg:w-1/4">
          <div class="p-10 mx-auto mb-auto border border-gray-200 rounded-lg">
            <p class="mb-2 text-lg font-semibold">Wybierz datę wypożyczenia</p>

            <form [formGroup]="dateForm">
              <div class="mb-2">
                <div class="flex items-center">
                  <label for="dateRental" class="mr-2">Od</label>
                  <input type="date" pInputText id="dateRental" formControlName="dateRental">
                </div>

                <app-control-error [control]="dateForm.controls['dateRental']"></app-control-error>
              </div>

              <div class="mb-3">
                <div class="flex items-center">
                  <label for="dateDeadline" class="mr-2">Do</label>
                  <input type="date" pInputText id="dateDeadline" formControlName="dateDeadline">
                </div>

                <app-control-error [control]="dateForm.controls['dateDeadline']"></app-control-error>
              </div>
            </form>

            <p class="mb-3">Łączny koszt: {{ calculateSum() | currency }}</p>

            <p-button label="Przejdź do dostawy" [routerLink]="['/zamowienie']"
              [disabled]="dateForm.invalid"></p-button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
