<div class="container mx-auto mt-5 flex flex-col lg:flex-row gap-2">
  <div class="w-full lg:w-3/4 p-4">
    <div styleClass="mb-8">
      <p class="text-xl font-semibold">Dostawa</p>
      <p *ngIf="$any(rentDetail.delivery) == 1" class="mb-3 text-gray-500">
        Odbiór osobisty
      </p>
      <p *ngIf="$any(rentDetail.delivery) == '2'" class="mb-3 text-gray-500">
        Dostawa na adres: <br>
        {{ address?.street_number }} <br>
        {{ address?.post_code }} {{ address?.town }}
      </p>
    </div>

    <div styleClass="mb-8">
      <p class="text-xl font-semibold">Płatność</p>
      <p *ngIf="$any(rentDetail.payment) == '1'" class="mb-3 text-gray-500">
        Przy odbiorze
      </p>
      <p *ngIf="$any(rentDetail.payment) == '2'" class="mb-3 text-gray-500">
        przelew na konto: {{ bankAccount }}
      </p>
    </div>

    <div styleClass="mb-8">
      <p class="text-xl font-semibold">Temin wypożyczenia</p>
      <p class="mb-3 text-gray-500">
        {{ rentDetail.dateRental | date:'shortDate' }} - {{ rentDetail.dateDeadline | date:'shortDate' }}
        ({{ calculateDays() }} dni)
      </p>
    </div>

    <div>
      <p class="text-xl font-semibold mb-2">Koszyk</p>
      <div *ngIf="rentDetail.equipment.length > 0">
        <hr class="h-px mb-8 bg-gray-200 border-0">
        <div *ngFor="let equip of rentDetail.equipment">
          <div class="flex flex-row mt-8">
            <div class="w-32">
              <img src="/assets/images/koparka.svg" class="h-12 mr-3">
            </div>
            <div class="grow">
              {{equip.name}}
            </div>
            <div class="w-40 flex">
              <div class="my-auto">{{ equip.quantity }} szt</div>
            </div>
            <div class="w-32 flex">
              <div class="my-auto">{{ equip.price | currency }}</div>
            </div>
          </div>
          <hr class="h-px mt-8 bg-gray-200 border-0">
        </div>
      </div>
    </div>
  </div>


  <div class="w-full lg:w-1/4 p-4 flex">
    <div class="mx-auto mb-auto border border-gray-200 rounded-lg p-10">
      <p class="mb-2">Wartość koszyka: {{ calculateCart() | currency }}</p>
      <p class="mb-2">Dostawa: {{ calculateDelivery() | currency }}</p>
      <p class="mb-2">Płatność: {{ calculatePayment() | currency }}</p>
      <hr class="h-px my-2 bg-gray-200 border-0">
      <p class="mb-2">Do zapłaty: {{ calculateAll() | currency }}</p>
      <p-button label="Wypożycz" (click)="rent()"></p-button>\
    </div>
  </div>

</div>
