<div class="container mx-auto mt-5">
  <p-card>
    <ng-template pTemplate="header">
      <div class="flex justify-between px-3 pt-3">
        <span class="p-card-title">
          Szczegóły wypożyczenia #{{rental?.id}}
        </span>
        <p-button [routerLink]="['../']" label="Powrót"></p-button>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <ul class="mb-5 space-y-1 text-[#71717A] list-none list-inside">
        <li>
          <span class="font-semibold text-gray-600">ID:</span> {{ rental?.id }}
        </li>
        <li>
          <span class="font-semibold text-gray-600">Klient:</span> {{ rental?.customer_first_name }}
          {{ rental?.customer_last_name }}
        </li>
        <li>
          <span class="font-semibold text-gray-600">Całkowity koszt:</span> {{ rental?.total_price | currency }}
        </li>
        <li>
          <span class="font-semibold text-gray-600">Data wypożyczenia:</span> {{ rental?.date_rental | date:'shortDate'
          }}
        </li>
        <li>
          <span class="font-semibold text-gray-600">Termin oddania:</span> {{ rental?.date_return | date:'shortDate' }}
        </li>
        <li>
          <span class="font-semibold text-gray-600">Data oddania:</span> {{ rental?.total_price | date:'shortDate' }}
        </li>
        <li>
          <span class="font-semibold text-gray-600">Status:</span> {{ $any(rental?.status) | underlineToSpace }}
        </li>
        <li>
          <span class="font-semibold text-gray-600">Dostawa:</span> {{ $any(rental?.delivery) | underlineToSpace }}
        </li>
        <li *ngIf="rental?.delivery == 'dostawa_na_adres'">
          <span class="font-semibold text-gray-600">Adres dostawy:</span> {{ rental?.address?.street_number }},
          {{rental?.address?.post_code}} {{rental?.address?.town}}
        </li>
        <li>
          <span class="font-semibold text-gray-600">Płatność:</span> {{ $any(rental?.payment) | underlineToSpace }}
        </li>
        <li>
          <span class="font-semibold text-gray-600">Opłacono:</span> {{ $any(rental?.paid) | booleanToWord }}
        </li>
        <li>
          <span class="font-semibold text-gray-600">Uwagi:</span> {{ rental?.notes }}
        </li>
      </ul>

      <div class="mb-2">
        <span class="font-bold text-xl text-gray-600">Wypożyczone sprzęty</span>
      </div>

      <p-table #dt1 [value]="items" sortField="equipment.name" sortMode="single" dataKey="equipment.name"
        rowGroupMode="subheader" groupRowsBy="equipment.name" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" styleClass="p-datatable-sm"
        currentPageReportTemplate="pokazano {first} - {last} z {totalRecords}"
        [globalFilterFields]="['equipment.name', 'serial_number', 'pivot.price', 'pivot.date_rental', 'pivot.date_deadline', 'pivot.date_return']">
        <ng-template pTemplate="caption">
          <div class="flex justify-between">
            <p-button (click)="showDialog()" label="Dodaj sprzęt" styleClass="p-button-success"
              icon="pi pi-plus"></p-button>

            <span class="p-input-icon-left ml-auto relative">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Szukaj" #globalFilter />
              <i *ngIf="globalFilter.value" class="pi pi-times absolute right-3 cursor-pointer text-[#71717A]"
                (click)="clearGlobalFilter()"></i>
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              <div class="flex gap-1">#<p-sortIcon field="id"></p-sortIcon></div>
            </th>
            <th pSortableColumn="serial_number">
              <div class="flex gap-1">Numer seryjny<p-sortIcon field="serial_number"></p-sortIcon></div>
            </th>
            <th pSortableColumn="pivot.price">
              <div class="flex gap-1">Cena<p-sortIcon field="pivot.price"></p-sortIcon></div>
            </th>
            <th>Opcje</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="groupheader" let-item let-rowIndex="rowIndex" let-expanded="expanded">
          <tr>
            <td colspan="3">
              <div class="flex w-full">
                <button type="button" pButton pRipple [pRowToggler]="item"
                  class="p-button-text p-button-rounded p-button-plain mr-2"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                <span class="py-3">
                  Id: {{item.equipment.id}}, Nazwa: {{item.equipment.name}}, Cena:
                  {{item.equipment.price | currency}}, Ilość: {{calculateItemTotal(item.equipment.id)}}
                </span>
              </div>
            </td>
            <td>
              <button pButton pRipple icon="pi pi-trash" (click)="deleteEquipment(item.equipment)"
                class="p-button-danger p-button-sm"></button>
            </td>
          </tr>
        </ng-template>

        <!-- <ng-template pTemplate="groupfooter" let-item>
      <tr class="p-rowgroup-footer">
        <td colspan="5" style="text-align: right">Cena:</td>
        <td>{{item.pivot.price}}</td>
      </tr>
    </ng-template> -->

        <ng-template pTemplate="rowexpansion" let-item>
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.serial_number}}</td>
            <td>{{item.price | currency}}</td>
            <td class="p-buttonset whitespace-nowrap">
              <button pButton pRipple icon="pi pi-pencil" (click)="showDialog(item)"
                class="p-button-info p-button-sm"></button>
              <button pButton pRipple icon="pi pi-trash" (click)="deleteItem(item)"
                class="p-button-danger p-button-sm"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-card>
</div>
