<div class="container mx-auto mt-5">
  <p-card header="Kategorie">
    <p-table #dt1 [value]="categories.data" [lazy]="true" (onLazyLoad)="loadCategories($event)" [paginator]="true"
      [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" styleClass="p-datatable-sm"
      [totalRecords]="categories.total" [loading]="loading"
      currentPageReportTemplate="pokazano {first} - {last} z {totalRecords}" [globalFilterFields]="['name']">
      <ng-template pTemplate="caption">
        <div class="flex justify-between align-middle">
          <p-button *ngIf="admin" (click)="showDialog()" label="Dodaj kategorię" styleClass="p-button-success"
            icon="pi pi-plus"></p-button>

          <span class="p-input-icon-left ml-auto relative">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Szukaj" #globalFilter />
            <i *ngIf="globalFilter.value != ''" class="pi pi-times absolute right-3 cursor-pointer text-[#71717A]"
              (click)="clearGlobalFilter()"></i>
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">
            <div class="flex gap-1"># <p-sortIcon field="id"></p-sortIcon></div>
          </th>
          <th pSortableColumn="name">
            <div class="flex gap-1">Nazwa <p-sortIcon field="name"></p-sortIcon></div>
          </th>
          <th *ngIf="admin"><span>Opcje</span></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-category>
        <tr>
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td *ngIf="admin" class="p-buttonset whitespace-nowrap">
            <button pButton pRipple icon="pi pi-trash" (click)="deleteCategory(category)"
              class="p-button-danger p-button-sm"></button>
            <button pButton pRipple icon="pi pi-pencil" (click)="showDialog(category)"
              class="p-button-info p-button-sm"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
