<div class="container mx-auto mt-5">
  <p-card>
    <ng-template pTemplate="header">
      <div class="flex justify-between px-3 pt-3">
        <span class="p-card-title">
          Szczegóły sprzętu {{ equipment?.name }}
        </span>
        <p-button [routerLink]="['../']" label="Powrót"></p-button>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <div class="flex gap-5 mb-5" [ngSwitch]="!equipment?.img_url">
        <img *ngSwitchCase="false" [src]="equipment?.img_url" alt="sprzęt" class="w-[300px] h-[300px] mr-5">
        <img *ngSwitchCase="true" src="/assets/images/empty.svg" alt="sprzęt" class="w-[300px] h-[300px] mr-5">
        <div>
          <ul class="mb-5 space-y-1 text-[#71717A] list-none list-inside">
            <li>
              <span class="font-semibold text-gray-600">ID:</span> {{ equipment?.id }}
            </li>
            <li>
              <span class="font-semibold text-gray-600">Nazwa:</span> {{ equipment?.name }}
            </li>
            <li>
              <span class="font-semibold text-gray-600">Kategoria:</span> {{ equipment?.category_name }}
            </li>
            <li>
              <span class="font-semibold text-gray-600">Cena:</span> {{ equipment?.price }} zł
            </li>
            <li>
              <span class="font-semibold text-gray-600">Opis:</span> {{ equipment?.description }}
            </li>
          </ul>
          <div [@toggleAnimations]="fileDrop">
            <button pButton *ngIf="!fileDrop" (click)="fileDrop = true" label="Zmiana obrazku"></button>

            <div *ngIf="fileDrop">
              <div class="flex items-center justify-center w-full mb-2" (dragover)="onDragOver($event)"
                (drop)="onDropSuccess($event)">
                <label for="image"
                  class="flex flex-col items-center justify-center w-full h-64 border border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
                  <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <i class="pi pi-cloud-upload" style="font-size: 2.5rem"></i>
                    <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Kliknij aby wrzucić plik</span>
                      albo
                      przeciągnij i upuść</p>
                    <p class="text-xs text-gray-500">maxsymalny rozmiar 512kB</p>
                  </div>
                  <input type="file" id="image" (change)="onChange($event)" class="hidden">
                </label>
              </div>
              <div class="flex justify-between">
                <span role="alert" class="mt-1 text-sm text-red-600">{{ imageError }}</span>

                <p-button (onClick)="closeDrop()" label="Anuluj" styleClass="p-button-danger"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-2">
        <span class="text-xl font-bold text-gray-600">Przedmioty</span>
      </div>

      <p-table #dt1 [value]="items" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" styleClass="p-datatable-sm"
        currentPageReportTemplate="pokazano {first} - {last} z {totalRecords}"
        [globalFilterFields]="['serial_number', 'status', 'work_time']">
        <ng-template pTemplate="caption">
          <div class="flex justify-between">
            <p-button (click)="showDialog()" label="Dodaj przedmiot" styleClass="p-button-success"
              icon="pi pi-plus"></p-button>

            <span class="relative ml-auto p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Szukaj" #globalFilter />
              <i *ngIf="globalFilter.value" class="pi pi-times absolute right-3 cursor-pointer text-[#71717A]"
                (click)="clearGlobalFilter()"></i>
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              <div class="flex gap-1"># <p-sortIcon field="id"></p-sortIcon></div>
            </th>
            <th pSortableColumn="serial_number">
              <div class="flex gap-1">Numer seryjny <p-sortIcon field="serial_number"></p-sortIcon></div>
            </th>
            <th pSortableColumn="status">
              <div class="flex gap-1">Status <p-sortIcon field="status"></p-sortIcon></div>
            </th>
            <th pSortableColumn="work_time">
              <div class="flex gap-1">Czas pracy <p-sortIcon field="work_time"></p-sortIcon></div>
            </th>
            <th><span>Opcje</span></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.serial_number}}</td>
            <td>{{item.status | underlineToSpace}}</td>
            <td>{{item.work_time}}</td>
            <td class="p-buttonset whitespace-nowrap">
              <button pButton pRipple icon="pi pi-trash" (click)="deleteItem(item)"
                class="p-button-danger p-button-sm"></button>
              <button pButton pRipple icon="pi pi-pencil" (click)="showDialog(item)"
                class="p-button-info p-button-sm"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-card>
</div>

<div class="container mx-auto mt-5">

</div>
